@use '../abstracts'as *;


/* Display utilities for different viewport width*/
.hide-upto-md {
    @media only screen and(max-width: 768px) {
        display: none;
    }
}

.hide-from-md {
    @include respond-to(medium) {
        display: none;
    }
}


.hide-upto-lg {
    @media only screen and(max-width: 992px) {
        display: none;
    }
}

.hide-from-lg {
    @media only screen and(min-width: 992px) {
        display: none;
    }
}


// Overflow

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

/* Object Fit */
.object-contain {
    object-fit: contain;
}

/* Position  */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

/* Z-Index */

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}