:root {
    // colors
    --very-dark-blue: hsl(225, 13%, 12%);
    --dark-grey: hsl(226, 6%, 40%);
    --light-grey: hsl(225, 17%, 82%);
    --very-light-grey: hsl(230, 21%, 95%);
    --red-error: hsl(0, 68%, 61%);
    --pure-white: hsl(360, 0%, 100%);


    // Font family
    --ff-primary: 'Spartan', sans-serif;

    // Font sizes
    --font-medium: 500;
    --font-bold: 700;
}