// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page. 
// -----------------------------------------------------------------------------
@use '../abstracts'as *;

.contact-details-grid {
    gap: 4rem;

    @include respond-to(large) {
        gap: 3rem;
    }

    h2 {
        margin-bottom: 0.8rem;

        @include respond-to(medium) {
            margin-bottom: 2.4rem;
        }

        @include respond-to(large) {
            margin-bottom: 0;
        }
    }
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include respond-to(medium) {
        flex-direction: row;
        justify-content: space-between;
    }

    @include respond-to(large) {
        flex-direction: column;
        gap: 3.2rem;
    }

    p {
        line-height: 3.5rem;
    }
}

.section-contact-info {
    margin-bottom: 7.2rem;

    @include respond-to(medium) {
        margin-bottom: 20rem;
    }
}

#mapid {
    height: 36.7rem;

    @include respond-to(medium) {
        height: 56rem;
    }
}

.section-map {
    margin-bottom: 7.2rem;

    @include respond-to(medium) {
        margin-bottom: 20rem;
    }

    @include respond-to(large) {
        margin-bottom: 16.2rem;
    }
}

/////////////////////////////
// CONTACT FORM
.cwu-innermost-wrapper {
    justify-content: space-between;
    align-items: flex-start;
    gap: 4.8rem;

    @include respond-to(medium) {
        gap: 6.4rem;
    }

}

.form {
    max-width: 73rem;
    width: 100%;
    display: grid;
    grid-row-gap: 4rem;

    &__input {
        width: 100%;
        color: var(--very-dark-blue);
        font-size: 2rem;
        font-family: var(--ff-primary);
        font-weight: var(--font-bold);
        letter-spacing: -0.31px;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--very-dark-blue);
        padding-bottom: 2.5rem;
        padding-left: 3.45rem;

        &:focus {
            border-width: 3px;
        }

        &::placeholder {
            color: var(--light-grey);
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            letter-spacing: inherit;
        }

        &[name='message'] {
            min-height: 9.4rem;
        }

        &-error {
            border-color: var(--red-error);

            &::placeholder {
                color: var(--red-error);
            }
        }
    }

    button {
        justify-self: end;
        margin-top: -4.5rem;
    }

    &__group {
        position: relative;
    }

    &__error {
        position: absolute;
        line-height: 1;
        right: 1.6rem;
        bottom: 1.5rem;
        color: var(--red-error);
        font-weight: var(--font-bold);
    }
}